@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Playfair+Display:wght@400;700&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f9b28a, #ff9b91);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #f79c6d, #f97f74);
}
